.megamenu{
position: absolute;
display: none;
left: 0;
top: 0;
/*background: #BDE5B3;*/
background: #35abaf;
border: 1px solid #4a4774 ;
border-width: 1px 1px;
padding: 10px;
font: normal 12px Verdana;
z-index: 100;
margin-top:9px;
}

.megamenu .column{
float: left;
width: 200px; /*width of each menu column*/
margin-right: 10px;
}

.megamenu .column .noneImage{
margin: 0;
padding: 0;
list-style-type: none;
}

.noneImage{
margin: 0;
padding: 0;
list-style-type: none;
color: #FFFFFF;
}

.noneImage li a{
color: #bababa;
}

.megamenu .column .ul_image{
margin: 0;
padding: 0;
padding-left: 20px; 
list-style-type: none;
list-style-image: url(../images/arrw.gif);
color: #bababa;
}

.megamenu .column .sub_ul_image{
margin: 0;
padding: 0;
padding-left: 20px; 
list-style-type: none;
list-style-image: url(../images/transparent.png);
}

.megamenu .column ul li{
padding-bottom: 5px;
}

.megamenu .column h3{
font: 13px Arial;
margin: 0 0 5px 0;
/*color: #348017;*/
color: #ffffff;
}

.megahover a:hover{
color:    #348017;
}

.megamenu .column ul li a{
text-decoration: none;
}

.megamenu .column ul li a:hover{
color: #4297d7;
}

.megamenu hr{
color: #348017;
}