BODY {
	BACKGROUND-ATTACHMENT: fixed
}
A:link {
	COLOR: #000099; TEXT-DECORATION: underline
}
showxgridlines {
	COLOR: green
}
A:active {
	COLOR: green; TEXT-DECORATION: underline
}
#pt1 {
	DISPLAY: none
}
#pt2 {
	DISPLAY: none
}
A:visited {
	COLOR: #000099; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #57ae00; TEXT-DECORATION: underline
}
TABLE.tbMain {
	BORDER-RIGHT: #7d98c4 1px solid; BORDER-TOP: #7d98c4 1px solid; MARGIN-TOP: 0px; BORDER-LEFT: #7d98c4 1px solid; BORDER-BOTTOM: #7d98c4 1px solid
}
TABLE.tbMain1 {
	BORDER-RIGHT: #7d98c4 1px solid; BORDER-TOP: #7d98c4 1px solid; MARGIN-TOP: 2px; BORDER-LEFT: #7d98c4 1px solid
}
TABLE.tbMain1_aa {
	BORDER-RIGHT: #7d98c4 1px solid; BORDER-TOP: #7d98c4 1px solid; MARGIN-TOP: 2px; BORDER-LEFT: #7d98c4 1px solid; BORDER-BOTTOM: #7d98c4 1px solid
}
TD.tdSecondheaderline {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #003366; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 2px; BACKGROUND-COLOR: #7d98c4; TEXT-ALIGN: right
}
TD.tdSecondheader {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #003366; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 28px; BACKGROUND-COLOR: #7d98c4; TEXT-ALIGN: center
}
TD.tdSecondheader_baru {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #000091; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 40px; BACKGROUND-COLOR: #7d98c4; TEXT-ALIGN: center
}
TD.tryb {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #003366; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 22px; BACKGROUND-COLOR: #7d98c4; TEXT-ALIGN: center
}
TD.tdSecondheader_1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #003366; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 23px; BACKGROUND-COLOR: #e6e6e6; TEXT-ALIGN: right
}
TD.tdSecondheaderc {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #003366; PADDING-TOP: 10px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left
}
TD.tdSecondheaderd {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #003366; PADDING-TOP: 10px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left
}
TD.tdSecondheadera {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #003366; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #7d98c4; TEXT-ALIGN: center
}
TD.tdtext4 {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; COLOR: #003366; PADDING-TOP: 7px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: left
}
TD.tdtext6 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #003366; PADDING-TOP: 2px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TD.tdtext5 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; COLOR: #003366; PADDING-TOP: 7px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TD.tdtext5a {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; COLOR: #003366; PADDING-TOP: 7px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TD.tdtext3 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #003366; PADDING-TOP: 4px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TD.tdtext3a {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #003366; PADDING-TOP: 4px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TD.tdtext7 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #003366; PADDING-TOP: 4px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TD.tdtext7a {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #003366; PADDING-TOP: 4px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TD.tdtext {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
TD.tdtextoutput {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 5px
}
TD.tdtext2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TD.tdtext2a {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
TD.tdtext1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 24px
}
TD.tdtext1acc {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 24px
}
TD.tdtext1aba {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 24px
}
TD.tdtext_1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #003366; PADDING-TOP: 2px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 18px
}
TD.tdtext_1a {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #003366; PADDING-TOP: 2px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 18px
}
TABLE.tbMain3 {
	BORDER-RIGHT: #7d98c4 1px solid; BORDER-TOP: #7d98c4 1px solid; MARGIN-TOP: 2px; BORDER-LEFT: #7d98c4 1px solid
}
TD.tdtext_1end {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #003366; PADDING-TOP: 2px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 18px
}
TD.tdtext_1aend {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #003366; PADDING-TOP: 2px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 18px
}
TD.tdSecondheader1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #003366; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #d0e6fb; TEXT-ALIGN: center
}
TD.tdSecondheader1a {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #003366; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #d0e6fb; TEXT-ALIGN: center
}
TD.tdSecondheader1aa {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7d98c4 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #ffa448; TEXT-ALIGN: center
}
TD.tdSecondheader1aaee {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ff9900 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #ffa448; TEXT-ALIGN: center
}
TD.tdSecondheader1b {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #003366; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #d0e6fb; TEXT-ALIGN: right
}
TD.tdSecondheader2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; COLOR: #003366; BORDER-BOTTOM: #003366 1px solid; FONT-FAMILY: Verdana, Arial, Arial Greek; HEIGHT: 25px; BACKGROUND-COLOR: #7d98c4; TEXT-ALIGN: center
}
TD.tdMainbody {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: black; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Arial, Arial Greek, Verdana; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
TD.tdMainbody2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; COLOR: black; PADDING-TOP: 5px; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Arial, Arial Greek, Verdana; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
TD.tdMainbody1 {
	BORDER-RIGHT: #7d98c4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; VERTICAL-ALIGN: top; COLOR: black; BORDER-BOTTOM: #7d98c4 1px solid; FONT-FAMILY: Arial, Arial Greek, Verdana; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
TD.tdSecondtext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: top; COLOR: black; FONT-FAMILY: Verdana
}
INPUT.ty {
	BORDER-RIGHT: #2b1dcf 1px solid; BORDER-TOP: #2b1dcf 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #2b1dcf 1px solid; BORDER-BOTTOM: #2b1dcf 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ec8977
}
INPUT {
	BORDER-RIGHT: #5b80a6 1px solid; BORDER-TOP: #5b80a6 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #5b80a6 1px solid; BORDER-BOTTOM: #5b80a6 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
SELECT {
	BORDER-RIGHT: #5b80a6 1px solid; BORDER-TOP: #5b80a6 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #5b80a6 1px solid; BORDER-BOTTOM: #5b80a6 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
INPUT.btButton {
	BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #003366 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #003366 1px solid; CURSOR: hand; COLOR: black; BORDER-BOTTOM: #003366 1px solid; FONT-FAMILY: Arial, Arial Greek, Verdana; BACKGROUND-COLOR: white
}
TD.tdcontent2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
TD.tdcontent1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
TD.tdcontent1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
TD.tdcontent2a {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: center
}
TD.tdcontent2aa {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; HEIGHT: 22px; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: center
}
TD.tdcontent2ae {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
TD.tdcontent2ac {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TD.tdcontent1a {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
TD.tdcontent1ag {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
TD.tdcontent1ae {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TD.tdcontent1ae_2 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #dbe6e1; TEXT-ALIGN: left
}
TD.tdcontent4aa {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #a3baf8; TEXT-ALIGN: left
}
TR.tdcontent1aa {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TD.tdcontent1aa {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TD.tdcontent1acc {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #dbe6e1; TEXT-ALIGN: center
}
TD.tdcontent1acc_old {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #ffffdf; TEXT-ALIGN: center
}
TD.tdcontent1aal {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
TD.tdcontent1accl {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #dbe6e1; TEXT-ALIGN: left
}
TD.tdcontent1ac {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
TD.tdcontent1ace {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: center
}
TD.tdcontent6acc {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #7d98c4 1px solid; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #a3baf8; TEXT-ALIGN: left
}
TD.tdcontent1c {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: right
}
TD.tdcontent1a1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
