TD.tdSmallcontent {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TD.tdSmallNormal {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #BFE2F9; 
	TEXT-ALIGN: center
}
TD.tdSmallPercentNormal {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FFD2D9;
	TEXT-ALIGN: center
}
TD.tdSmallPercentNormal1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FFD2D9;
	TEXT-ALIGN: left
}
TD.tdSmallTPercentNormal {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FF82C9;
	TEXT-ALIGN: center
}
TD.tdSmallTeleNormal {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #82CFC9; 
	TEXT-ALIGN: center
}
TD.tdSmallTeleNormal1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #82CFC9; 
	TEXT-ALIGN: left
}
TD.tdSmallRFNormal {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #CFF9E2; TEXT-ALIGN: center
}
TD.tdSmallError {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: center
}
TD.tdSmallRange {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
TD.tdSmallHighHigh {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle;
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FF696E; TEXT-ALIGN: center
}
TD.tdSmallWarning {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FACD8A; TEXT-ALIGN: center
}
TD.tdSmallDanger {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FFA9AE; TEXT-ALIGN: center
}
TD.tdSmallAlert {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px;
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle;
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FFFAB2; TEXT-ALIGN: center
}
TD.tdSmallHighHighNarrow {
	FONT-FAMILY:Arial Narrow;
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle;
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FF696E; TEXT-ALIGN: center
}
TD.tdSmallWarningNarrow {
	FONT-FAMILY:Arial Narrow;
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FACD8A; TEXT-ALIGN: center
}
TD.tdSmallDangerNarrow {
	FONT-FAMILY:Arial Narrow;
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FFA9AE; TEXT-ALIGN: center
}
TD.tdSmallAlertNarrow {
	FONT-FAMILY:Arial Narrow;
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px;
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle;
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FFFAB2; TEXT-ALIGN: center
}
TD.tdSmallNormalNarrow {
	FONT-FAMILY:Arial Narrow;
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #BFE2F9; TEXT-ALIGN: center
}
TD.tdSmallcontent1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
TD.tdSmallcontentAR {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: white; TEXT-ALIGN: right
}
TD.tdSmallNormal1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 3px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #BFE2F9; TEXT-ALIGN: left
}
TD.tdSmallRFNormal1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 3px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #CFF9E2; TEXT-ALIGN: left
}
TD.tdSmallError1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 3px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: left
}
TD.tdSmallRange1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 3px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
TD.tdSmallHighHigh1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 3px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle;
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FF696E; TEXT-ALIGN: left
}
TD.tdSmallWarning1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 3px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FACD8A; TEXT-ALIGN: left
}
TD.tdSmallDanger1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 3px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FFA9AE; TEXT-ALIGN: left
}
TD.tdSmallAlert1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 3px;
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle;
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 17px; 
	BACKGROUND-COLOR: #FFFAB2; TEXT-ALIGN: left
}
TD.tdalarmALeft1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #FF696E; TEXT-ALIGN: Left
}
TD.tdalarmALeft2 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #FACD8A; TEXT-ALIGN: Left
}
TD.tdalarmALeft3 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #FFFAB2; TEXT-ALIGN: Left
}
TD.tdalarmALeft4 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #FFA9AE; TEXT-ALIGN: Left
}
TD.tdalarmALeft5 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #A0A0A0; TEXT-ALIGN: Left
}
TD.tdalarmALeft6 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: Left
}
TD.tdalarmALeft7 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: Left
}
TD.tdalarmALeft8 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: Left
}
TD.tdalarmALeft9 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	ACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: Left
}
TD.tdalarmALeft10 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: Left
}
TD.tdalarmALeft11 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #BFE2F9; TEXT-ALIGN: Left
}
TD.tdalarm1 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #FF696E; TEXT-ALIGN: center
}
TD.tdalarm2 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #FACD8A; TEXT-ALIGN: center
}
TD.tdalarm3 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #FFFAB2; TEXT-ALIGN: center
}
TD.tdalarm4 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #FFA9AE; TEXT-ALIGN: center
}
TD.tdalarm5 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #A0A0A0; TEXT-ALIGN: center
}
TD.tdalarm6 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: center
}
TD.tdalarm7 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: center
}
TD.tdalarm8 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: center
}
TD.tdalarm9 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	ACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: center
}
TD.tdalarm10 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #CCCCCC; TEXT-ALIGN: center
}
TD.tdalarm11 {
	BORDER-RIGHT: #7d98c4 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; 
	COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #7d98c4 1px solid; HEIGHT: 18px; 
	BACKGROUND-COLOR: #BFE2F9; TEXT-ALIGN: center
}
